.textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 10vh;
  max-height: calc(100vh - 400px);
  font-size: 1em;
  background-color: var(--glass);
  border: 3px solid var(--border-color);
}
